html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
  color: #222;
}

a:hover {
  text-decoration: none;
}

p {
  font-family: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 27px;
}

#container {
  height: 100%;
}

#main_header {
  background: rgba(0, 0, 0, 0.85);
  color: white;
  width: 100%;
  min-height: 34%;
  font-size: 28px;
  padding: 20px;
}

#middle_section {
  min-height: 33%;
  background-color: #2BA6CB;
  color: white;
  font-size: 28px;
  padding: 20px;
}

#footer {
  min-height: 33%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  font-size: 28px;
  padding: 20px;
}

.pic {
  float: left;
  padding-top: 10px;
}

.about {
  float: left;
}

.description {
  margin-bottom: 10px;
}

.padding-top {
  padding-top: 10px;
}
